.input {
    margin-bottom: 0.75em;

    display: flex;
}
.form {
    padding-inline: 0.75em;
    
    flex: 4;
    width: clamp(150px, 40vw, 280px);

    border-radius: 10px 0 0 10px;
    border: none;

    background-color: var(--primary-color);

    font-size: min(calc(1vw + 0.75em), 1.25rem);
    color: var(--clr-accent);
}
.form:focus {
    outline: none;
}
.form:focus::placeholder {
    background-position: right top;
}
.form::placeholder {
    background: var(--gradient);
    background-clip: text;
    background-size: 300%;
    background-position: left bottom;

    color: transparent;

    transition: background-position 500ms ease-in-out;
}
.form:hover::placeholder {
    background-position: right top;
}
.search-button {
    /* remove a whitespace between button and an input element */
    position: relative;
    right: 1px;

    flex: 1;
    
    padding: 0.5em .75em;

    background-color: var(--darkish-green);
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left bottom;

    border: none;
    border-radius: 0 10px 10px 0;

    color: var(--primary-color);
    font-size: 1.25rem;

    transition: background-position 500ms ease-in-out;
    cursor: pointer;
}
.search-button:hover {
    background-position: right top;
}
.search-button:active {
    opacity: 0.8;
}
.search-button:focus {
    outline: none;
}