body {
    background-image: url(./components/images/bg-desktop.png);
    background-size: cover;

    max-width: 100%;
}
@media only screen and (max-width: 500px) {
    body {
        background-size: 150%;
        background-position: center;
    }
}